//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.

params {
    help = false
    version = false
    out_dir = "output"
    artic_threads = 4
    pangolin_threads = 4
    analyse_unclassified = false

    fastq = null
    sample = null
    sample_sheet = null
    min_len = null
    max_len = null
    max_softclip_length = null
    normalise = 200
    report_depth = 100
    medaka_model = "r941_min_hac_variant_g507"
    scheme_name = "SARS-CoV-2"
    scheme_dir = "primer_schemes"
    scheme_version = "ARTIC/V3"
    list_schemes = false
    custom_scheme = null
    genotype_variants = null
    report_clade = true
    report_lineage = true
    report_coverage = true
    report_variant_summary = true
    report_detailed = false
    wfversion = "v0.3.20"
    pangolin_version = "4.1.3"
    pangolin_options = null
    nextclade_version = "2.8.0"
    nextclade_data_tag = null
    update_data = false
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false
    lab_id = null
    testkit = null
    process_label = "artic"

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,nextclade_version,wfversion,wf,process_label'

    wf {
      example_cmd = [
          "--fastq test_data/sars-samples-demultiplexed",
          "--sample_sheet test_data/sample_sheet.csv"
      ]
      artic_sha = 'sha1ea69f663b444a23374dc89c85d5c81cf8aa60d9'
      nextclade_sha = 'sha7896a53c75a3cc904f6b2cdb5bd1da3af3fcba7c'
      pangolin_sha = 'sha31e8d352de66981ebb300ce82f057df3f0412848'
  }
}

manifest {
    name            = 'epi2me-labs/wf-artic'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-artic'
    description     = 'Run the ARTIC SARS-CoV-2 methodology on multiplexed MinION, GridION, and PromethION data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.3.20'
}

epi2melabs {
    tags = 'sars-cov-2,covid,artic,amplicon,viruses,public health'
    icon = 'faVirusCovid'
}


env {
	PYTHONNOUSERSITE = 1
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}

process {
            withLabel:artic { container = "ontresearch/wf-artic:${params.wf.artic_sha}" }
            withLabel:pangolin { container = "ontresearch/pangolin:${params.wf.pangolin_sha}" }
            withLabel:nextclade { container = "ontresearch/nextclade:${params.wf.nextclade_sha}" }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }

profiles {

    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
            }
        }
         // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }



    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda.enabled = true // for nextflow >=22.08
    }

    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:artic {
                container = "${params.aws_image_prefix}-wf-artic:${params.wf.artic_sha}-root"
            }
            withLabel:pangolin {
                container = "${params.aws_image_prefix}-pangolin:${params.wf.pangolin_sha}-root"
            }
            withLabel:nextclade {
                container = "${params.aws_image_prefix}-nextclade:${params.wf.nextclade_sha}-root"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }


    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
}
