//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.

params {
    help = false
    out_dir = "output"
    fastq = null
    sanitize_fastq = false
    samples = null
    min_len = null
    max_len = null
    max_softclip_length = null
    report_depth = 100
    medaka_model = "r941_prom_variant_g360"
    scheme_name = "SARS-CoV-2"
    scheme_version = "V3"
    genotype_variants = null
    report_clade = true
    report_lineage = true
    report_coverage = true
    report_variant_summary = true
    report_detailed = false
    wfversion = "v0.3.6"
    pangolin_version = "3.1.16"
    aws_image_prefix = null
    aws_queue = null
    lab_id = null
    testkit = null
    report_name = "report"

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,wfversion'
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}

process {
            withLabel:artic { container = "ontresearch/wf-artic:${params.wfversion}" }
            withLabel:pangolin { container = "ontresearch/pangolin:${params.pangolin_version}" }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }

profiles {

    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
            }
        }
         // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    
    
    // profile using conda environments rather than docker
    // containers
    conda {
        docker.enabled = false
        process {
            withLabel:artic { conda = "${projectDir}/environment.yaml" }
            withLabel:pangolin { conda = "${projectDir}/environment_pangolin.yaml" }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
        conda {
             cacheDir = ""
             useMamba = true
        }
    }

    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:artic {
                container = "${params.aws_image_prefix}-wf-artic:${params.wfversion}"
            }
            withLabel:pangolin {
                container = "${params.aws_image_prefix}-pangolin:${params.pangolin_version}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }


    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
}
dag {
  enabled = true
  file = "${params.out_dir}/execution/pipeline.svg"
}
